.left-side-buttons {
	display: flex;
	justify-content: space-between;
}

#menu-button {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

#menu-button img {
	opacity: .5;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 6px;
}

.logo-button {
	cursor: pointer;
	position: relative; 
	border: none;
	background-color: transparent;
}

.logo-button img {
	margin-top: -3px;
 	height: 64px;
 	width: 82px;
}

.logo-button span {
	position: absolute;
	font-size: 9px;
	right: 5px;
	top: 9px;
}