#rolled-up-menu {
	display: none;
	height: 100vh;
	top: 0;
  	left: 0;
	margin-bottom: 0;
	margin-top: 54px;
	width: 70px;
	position: fixed;
	background-color: #fff;
	list-style-type: none;
}

#rolled-up-menu:nth-first-child {
	margin-top: 40px;
}

.rolled-up-menu-item {
	height: 70px;
	display: flex;
	flex-direction: column;
	margin-left: -40px;
	padding: 16px 0 14px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
}

.rolled-up-menu-item:hover {
	background: rgba(0,0,0,0.1);
}

.rolled-up-menu-item-opacity {
	opacity: .7;
}


.home-closed-text {
	text-align: center;
	margin-top: 5px;
}

.trend-closed-icon {
	padding: 0 27px 0;
	height: 24px;
}

.trend-closed-text {
	margin-top: 6px;
	text-align: center;
}

.subscribe-closed-icon {
	height: 20px;
}

.subscribe-closed-text {
	margin-top: 10px;
}

.library-closed-icon {
	margin-top: 5px;
}

.library-closed-text {
	margin-top: 5px;	
}
