
#wrapper {
    margin-top: 80px;

}

#wrapper #articles {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    color: black;
    margin-left: 280px;
}

#wrapper #articles article {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 100px;
    cursor: pointer;
}

.preview {
    position: relative;
}

.preview img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.avatar img {
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 50%; 
}

#videoName {
    display: flex;
    width: 312px;
    margin-top: 3px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500; 
}



#videoSettings {
    opacity: .6;
    margin-left: -3px;
}

.videoInfo {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.3;
}

.chanelName {
    color: var(--secondary-text-color);
    margin-left: 50px;
    margin-top: 5px;
}

.videoViews {
    display: flex;
    margin-left: 50px;  
}

.viewsInfo {
    display: flex;
}

.videoViews::after {
    content: "•";
    margin: 0 4px;
}

.videoTime {
    position: absolute;
    top: 84%;
    left: 87%;
    color: #fff;
    padding: 2px 3px;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: black;
}

.videoClock img  {
    width: 29px;
    height: 29px;
    top: 2%;
    left: 91%;
    position: absolute;
    background-color: black;
    border: 2px solid black;
}

.videoPlaylist img {
    width: 29px;
    height: 29px;
    top: 17%;
    left: 91%;
    padding: 0  0 0 3px;
    position: absolute;
    background-color: black;
    border: 1px solid;
}

@media (min-width: 576px) {
    #expanded-menu {
       display: none;
    }

    .rolled-up-menu {
        display: block;
    }
}


@media (min-width: 768px) {
    #expanded-menu {
       display: none;
    }

    .rolled-up-menu {
        display: block;
    }
}


@media (max-width: 992px)  {

    #expanded-menu {
       display: none;
    }

}



@media (min-width: 1080px) { 

#expanded-menu {
       display: block;
    }

}