
* {
	box-sizing: border-box;
}

body {
	background-color: #F8F4F4;
	margin: 0px 0px 0px 0px; 
}



a {
	color: black;
	text-decoration: none;
}

.header {
	background-color: #FFFFFF;
	display: flex;
	height: 54px;
	justify-content: space-between;
}

.left-side-buttons {
	display: flex;
	justify-content: space-between;
}

.menu-button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.menu-button img {
	opacity: .5;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 6px;
}

.logo-button {
	position: relative; 
	cursor: pointer;
	border: none;
	background-color: transparent;
}


.logo-button img {
	margin-top: -3px;
 	height: 64px;
 	width: 82px;
}

.logo-button span {
	position: absolute;
	font-size: 9px;
	right: 5px;
	top: 9px;
	 
}


.search-place {
	display: flex;
}

.search-place .search {
	
	padding: 6px;
	outline: none;
	height: 28px;
	margin-top: 14px;
	width: 575px;
	font-size: 16px; 
	margin-left: 65px;
}

.search-place .search:focus {
	border: 1px solid #0005C3;
}

.search-icon {
	cursor: pointer;
	width: 64px;
	height: 28px;
	margin-top: 14px;
	border: 1px solid #C0C0C0;
}

.search-button {
	 position: relative;
}

.keyboard {
	cursor: pointer;
	position: absolute;
	top: 23px;
 	right: 12px;
	height: 11px;
	width: 19px;
}



.right-side-buttons {
	display: flex;
	
}

.create-button {
	width: 48px;
	height: 48px;
	background-color: transparent;
	border: none;
}

.create-button img {
	opacity: .6;
	margin-top: 10px;
	width: 36px;
	height: 24px;
}

.application-button{ 
	margin-bottom: 6px;
	background-color: transparent;
	border: none;
}

.application-button img {
	opacity: .6;
	margin-top: 10px;
	margin-left: 6px;
	width: 24px;
	height: 24px;
}

.settings-button {
	background-color: transparent;
	border: none;
}

.settings-button img {
	opacity: .6;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}

.user-button {
	background-color: transparent;
	border: 1px solid #065FD4;
	margin-top: 8px;
	margin-right: 18px;
	width: 102px;
	height: 40px;
}

.user-button img {
	width: 28px;
	height: 28px;
}

.user-button-enter {
	position: relative;
 	top: -8px;
	font-weight: 700;
	color: #065FD4;

}

.dropdown {
	margin-top: -18px;
	/*display: flex;*/
}

.dropdown-menu {
	
}

.submenu {
 	
	list-style-type: none;
	width: 15%;
	background-color: #fff;
	margin-left: -40px;
	margin-bottom: 0;
	margin-top: 0;
	z-index: 2;
 
}

#closed-menu {
	z-index: 100;
	display: none;
	height: 100vh;
	margin-bottom: 0;
	margin-top: 0;
	width: 70px;
	background-color: #fff;
	list-style-type: none;
}

.divider-nc {
	height: 20px;
}

.home-closed {
	height: 70px;
	margin-top: 10px;
	cursor: pointer;
	display: flex;
	margin-left: -40px;
	padding: 16px 0 14px;
}

.home-closed:hover {
	background: rgba(0,0,0,0.1);
}

.home-closed-icon {
	position: relative;
	opacity: .7;
	margin-top: -22px;
	margin-left: 25px;
}

.home-closed-text {
	position: absolute;
	margin-left: 18px;
	margin-top: 25px;
	font-size: 10px;
	font-family: Roboto;
}




.trend-closed {
	height: 70px;
	cursor: pointer;
	display: flex;
	margin-left: -40px;
	padding: 16px 0 14px;
}

.trend-closed:hover {
	background: rgba(0,0,0,0.1);
}

.trend-closed-icon {
	position: relative;
	margin-top: -3px;
	margin-left: 28px;
	height: 24px;
}

.trend-closed-text {
	position: absolute;
	margin-left: 15px;
	margin-top: 30px;
	font-size: 10px;
	font-family: Roboto;
}



.subscribe-closed {
	height: 70px;
	cursor: pointer;
	display: flex;
	margin-left: -40px;
	padding: 16px 0 14px;
}

.subscribe-closed:hover {
	background: rgba(0,0,0,0.1);
}

.subscribe-closed-icon {
	height: 20px;
	position: relative;
	opacity: .6;
	margin-top: 5px;
	margin-left: 26px;
}

.subscribe-closed-text {
	position: absolute;
	margin-left: 13px;
	margin-top: 33px;
	font-size: 10px;
	font-family: Roboto;
}

.library-closed {
	height: 70px;
	cursor: pointer;
	display: flex;
	margin-left: -40px;
	padding: 16px 0 14px;
}

.library-closed:hover {
	background: rgba(0,0,0,0.1);
}

.library-closed-icon {
	position: relative;
	opacity: .6;
	margin-left: 24px;
}

.library-closed-text {
	position: absolute;
	margin-left: 8px;
	margin-top: 37px;
	font-size: 10px;
	font-family: Roboto;
}




 
.home {
	margin-top: 15px;
	cursor: pointer;
	display: flex;
	padding: 5px 0 0 0;
}

.home:hover {
	background: rgba(0,0,0,0.1);
}

.home-icon {
	opacity: .7;
	padding: 0px 15px 10px;
	margin-left: 10px;
}

.home-text {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 14px;
}


.trend {
	cursor: pointer;
	display: flex;
	padding: 15px 0 10px 0;
 
}

.trend:hover {
	background: rgba(0,0,0,0.1);
}

.trend-icon {
	padding: 0 15px 0;
	margin-left: 13px;
	height: 24px;
	margin-top: -10px;
}

.trend-text {
	margin-top: -5px;
	margin-left: 12px;
}

.subscribe {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0;
	
}

.subscribe-icon {
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.subscribe:hover {

	background: rgba(0,0,0,0.1);
}

.subscribe-text {
	margin-left: 5px;
}


.divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.library {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0px;
}

.library:hover {
	background: rgba(0,0,0,0.1);
}

.library-icon {
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.library-text {
	margin-left: 5px;
}

.history {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0px;
}

.history:hover {
	background: rgba(0,0,0,0.1);
}

.history-icon {
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.history-text {
	margin-left: 5px;
}

.your-video {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0px;
}

.your-video:hover {
	background: rgba(0,0,0,0.1);
}

.your-video-icon {
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.your-video-text {
	margin-left: 5px;
}


.later {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0px;
}

.later:hover {
	background: rgba(0,0,0,0.1);
}

.later-icon{
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.later-text {
	margin-left: 5px;
}


.liked {
	cursor: pointer;
	display: flex;
	padding: 10px 0 5px 0px;
}

.liked:hover {
	background: rgba(0,0,0,0.1);
}

.liked-icon{
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.liked-text {
	margin-left: 5px;
}

.user-button-in-menu {
	background-color: transparent;
	border: 1px solid #065FD4;
	margin-top: 10px;
	width: 102px;
	height: 40px;
}

.user-button-in-menu img {
	width: 28px;
	height: 28px;
}

.login-in-menu {
	padding: 16px 24px;
}


.the-best {
	font-weight: bold;
	font-size: 14px;
	padding: 8px 24px;
}


.music {
	cursor: pointer;
	display: flex;
	padding: 10px 0 10px 0px;
}

.music:hover {
	background: rgba(0,0,0,0.1);
}

.music-icon{
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}


.music-text {
	margin-top: 2px;
	margin-left: 5px;
}

.sport {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.sport:hover {
	background: rgba(0,0,0,0.1);
}


.sport-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.sport-text {
	margin-top: 2px;
	margin-left: 5px;
}


.game {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.game:hover {
	background: rgba(0,0,0,0.1);
}


.game-icon {
	opacity: .8;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.game-text {
	margin-top: 2px;
	margin-left: 5px;
}


.movies {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.movies:hover {
	background: rgba(0,0,0,0.1);
}


.movies-icon {
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.movies-text {
	margin-top: 2px;
	margin-left: 5px;
}


.news {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.news:hover {
	background: rgba(0,0,0,0.1);
}


.news-icon {
	opacity: .6;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.news-text {
	margin-top: 2px;
	margin-left: 5px;
}


.live-brodcoast {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.live-brodcoast:hover {
	background: rgba(0,0,0,0.1);
}


.live-brodcoast-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.live-brodcoast-text {
	margin-top: 2px;
	margin-left: 5px;
}

.yt-russia {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.yt-russia:hover {
	background: rgba(0,0,0,0.1);
}


.yt-russia-icon {
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.yt-russia-text {
	margin-top: 2px;
	margin-left: 5px;
}

.vr-videos {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.vr-videos:hover {
	background: rgba(0,0,0,0.1);
}

.vr-videos-icon {
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.vr-videos-text {
	margin-top: 2px;
	margin-left: 5px;
}


.catalog {
 	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
 }

.catalog:hover {
	background: rgba(0,0,0,0.1);
}

.catalog-icon{
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.catalog-text {
	margin-top: 2px;
	margin-left: 5px;
}


.premium {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.premium:hover {
	background: rgba(0,0,0,0.1);
}


.premium-icon {
	padding: 0 15px 0;
	margin-left: 10px;
	height: 24px;
}

.premium-text {
	margin-top: 2px;
	margin-left: 5px;
}


.brodcoast {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.brodcoast:hover {
	background: rgba(0,0,0,0.1);
}


.brodcoast-icon {
	padding: 0 15px 0;
	margin-left: 10px;
	height: 22px;
}

.brodcoast-text {
	margin-top: 2px;
	margin-left: 5px;
}



.menu-settings {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.menu-settings:hover {
	background: rgba(0,0,0,0.1);
}


.menu-settings-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 22px;
}

.menu-settings-text {
	margin-top: 2px;
	margin-left: 5px;
}

.complaints {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.complaints:hover {
	background: rgba(0,0,0,0.1);
}


.complaints-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 22px;
}

.complaints-text {
	margin-top: 2px;
	margin-left: 5px;
}


.help {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.help:hover {
	background: rgba(0,0,0,0.1);
}


.help-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 22px;
}

.help-text {
	margin-top: 2px;
	margin-left: 5px;
}

.review {
	cursor: pointer;
 	display: flex;
	padding: 10px 0 10px 0px;
}

.review:hover {
	background: rgba(0,0,0,0.1);
}


.review-icon {
	opacity: .7;
	padding: 0 15px 0;
	margin-left: 10px;
	height: 22px;
}

.review-text {
	margin-top: 2px;
	margin-left: 5px;
}




.copyright {
	padding: 16px 24px;
}

.service {
	padding: 16px 24px 0;
}


#wrapper {
    margin-top: 36px;
    margin-bottom: 36px;
}

#wrapper #articles {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: black;
    margin-left: 20%;
}

#wrapper #articles article {
    cursor: pointer;
    height: 440px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid silver;
    background-color: #FEFEFE;
}

#wrapper #articles article img {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
}

.avatar  {
	width: 10px;
	height: 25px;
}